:root{
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-grey: #60777C;
	--color-grey-light: #F2F2F2;
	;
}
*,
*::after,
*::before {
	box-sizing: border-box;
}
@font-face {
	font-family: "Roboto";
	src:
		local('Roboto-Regular'),
		local('Roboto Regular'),
		local('RobotoRegular'),
		url('../fonts/Roboto-Regular.woff') format("woff"),
		url('../fonts/Roboto-Regular.ttf') format("ttf");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}


html {
	font-size: 14px;
}

body {
	font-family: 'Roboto', 'Arial', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	width: 100vw;
	overflow-x: hidden;

}
.section-title{
	text-align: center;
	font-weight: 400;
	font-size: 56px;
	line-height: 56px;
	
}
.top-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.8rem 2.5rem;
	position: sticky;
	top: 0rem;
	max-width: 1920px;
	margin: 0 auto;
	z-index: 15;
	background-color: var(--color-black);
	backdrop-filter: blur(2rem);
}

.nav__list {
	list-style: none;
	display: flex;
	justify-content: flex-start;
	margin: 0;
	padding: 0;
	
}
.nav__link, .header__link{
	color: var(--color-white);
	text-decoration: none;
	text-transform: uppercase;
}
.header__link{
	margin-right: 3.5rem;
	
font-size: 18px;
line-height: 22px;
letter-spacing: 0em;
text-align: left;

}
.nav__link:hover, .header__link:hover{
	text-decoration: underline;
}
.nav__item+.nav__item {
	margin-left: 4rem;
}
.top-menu__buttons {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.top-menu__btn {
	appearance: none;
	box-shadow: none;
	border: none;
	padding: 0;
	font-size: 1rem;
	font-weight: 500;
	padding: 0.75rem 1rem;
	min-width: 3rem;
	min-height: 1.5rem;
	background-color: white;
	color:black;
	cursor: pointer;

}

.top-menu__btn.--not-btn{
	background-color: black;
	color:white;
	margin-right: 1.5rem;
}
.header{
	background-image: url('../img/Rectangle.jpg');
	height: 50rem;
	background-size: cover;
	color:white;
	margin: 0;
}
.container {
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
}
.header__content{
	 padding-top: 6.6rem;
	padding-left: 3rem; 

}

.header__title{
	font-weight: 400;
	font-size: 72px;
	line-height: 72px
}
.header__text{
	font-size: 22px;
	line-height: 26px;
}
.header__btn{
	padding: 1.5em 2.2em;
	cursor: pointer;
	text-transform: uppercase;
}
.tools{
	background-color: var(--color-grey-light);
	padding: 3rem;
	position: relative;
}
.tools__inner{
	display: flex;

	 margin: 5rem -1.5rem 0; 
	justify-content: space-around;
}
.tools__title{
	text-align: center;
	font-weight: 400;
	font-size: 56px;
	line-height: 56px;
	margin: 1.5rem 0;
}



.tools_text{
	text-align: center;
	font-size: 22px;
}
.tools__item{
	flex: 1 1 30%;   
	 margin: 0 1.5rem; 
	 /* width: 30%; */
}

.tools__item-pic{
	width: 100%;
    object-fit: fill;
    height: 20rem;
}

.close {
	position: absolute;
	right: 3rem;
	top: 3rem;
	width: 0.5rem;
	height: 0.5rem;
	opacity: 1;
	}
	.close:hover {
	opacity: 0.3;
	cursor: pointer;
	}
	.close:before, .close:after {
	position: absolute;
	/* left: 15px; */
	content: ' ';
	height: 1.5rem;
	width: 2px;
	background-color: black;
	}
	.close:before {
	transform: rotate(45deg);
	}
	.close:after {
	transform: rotate(-45deg);
	}

	.possibilities{
		background-image: url('../img/Rectangle_2.jpg');
		height: 36rem;
		background-size: cover;
		color:white;
		margin: 0;
	}
	.possibilities__title{
		margin: 0;
		text-align: center;
		padding-top: 9rem;
	
		font-style: normal;
font-weight: normal;
font-size: 56px;
line-height: 56px;
	}
	.possibilities__text{
		text-align: center;
	}
	.possibilities__link{
		display:block;
		text-align: center;

	}

	.possibilities__text{
		font-size: 22px;
line-height: 26px;

	}
	.possibilities__link{
		text-transform: uppercase;
		font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 26px;
/* or 120% */

text-align: center;

color: #FFFFFF;
	}

	.tools__item-title{
		font-size: 28px;
line-height: 34px;

	}

	.tools__item-text{
		font-size: 18px;
line-height: 22px;

	}

	.content{
		color: white;
		background-color: var(--color-grey);
	}

	.content__title{
		margin: 0;
		padding-top: 5rem;
	}

	.content__text{
		font-size: 22px;
line-height: 26px;
/* or 120% */

text-align: center;
	}

	.content__inner{
		display: flex;
		flex-direction: column;
	}

	.content__item{
		display: flex;
		margin-top: 8.6rem;
		margin-left: -1.5rem;
		margin-right: -1.5rem;
		width: 100%;
		overflow: hidden;
	}

.content__item-info{
	flex: 1 1 50%;
	margin-left: 1.5rem;
		margin-right: 1.5rem;
	
}
	.content__item-pic{
		flex: 1 1 50%;
		/* width: 100%; */
		object-fit: cover;
		height: 29.5rem;
		margin-left: 1.5rem;
		margin-right: 1.5rem;
	}
	.content{
		padding: 1.8rem 2.5rem;
	}

	.content__item-title{
		font-size: 40px;
line-height: 40px;
font-style: normal;
font-weight: normal;
padding-top: 4rem;
	}

	.content__item-text{
		font-size: 22px;
line-height: 26px;

	}

	/*.content__item-info.--left{
		padding-right: 12rem;
	}
	.content__item-info.--right{
		padding-left: 12rem;
	}*/

	.protect{
		display: flex;
		height: 41.5rem;
		margin-left: -1.5rem;
    margin-right: -1.5rem;
	padding: 0 3rem;
	}
	.protect-info{
		flex: 1 1 50%;
		
		margin-left: 1.5rem;
		margin-right: 1.5rem;
	}
	.protect-pic{
		flex: 1 1 50%;
    width: 100%;
    object-fit: cover;
	object-position: center 80%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
	}
	.protect-title{
		font-style: normal;
font-weight: normal;
font-size: 56px;
line-height: 56px;
/*padding-top: 8rem;
padding-left: 12rem;*/
	}
	.protect-text{
		font-size: 22px;
line-height: 26px;
/*padding-left: 12rem;*/
	}

	.swiper-container {
		width: 100%;
		height: 100%;
	  }
  
	  

	  


	  .yoga{
		  background-color: var(--color-grey);
		  margin-left: -1.5rem;
		  margin-right: -1.5rem;
		  padding: 0 3rem;
		  display: flex;
		  overflow: hidden;
	  }
	
	  .yoga-info, .yoga__slider-wrapper{
		flex: 1 1 50%;
		margin-left: 1.5rem;
		margin-right: 1.5rem;
		min-width: 50%

	  }
	  .yoga-text{
		  width: 38rem;
		  font-size: 28px;
		line-height: 34px;
		color:white;
		
	  }

	  .yoga__slider-wrapper .yoga__slider-pic{
		  height: 29rem;

	  }
	  .yoga__slider-pic{
	  	width: 100%;
	  	object-fit: cover;
	  }
	  .yoga__slider-wrapper{

		  position: relative;
		  padding-bottom: 8rem;
		  /*padding-left: 20rem;*/
	  } 
	  .yoga__slider-wrapper .swiper-buttons {
		position: absolute;
		
		display: flex;
		justify-content: space-between;
		align-items: center;
		bottom: 6rem;
		    left: 35vw;

	}
	
	.yoga__slider-wrapper .swiper-button-prev,
	.yoga__slider-wrapper .swiper-button-next {
		position: static;
		height: 1rem;
		width: 2rem;
		display: block;
		background-image: url(../img/next.svg);
		background-size: contain;
		transition: all 0.24s;
		background-repeat: no-repeat;
	}
	
	.yoga__slider-wrapper .swiper-button-prev {
		transform: rotate(180deg);
	}
	
	.yoga__slider-wrapper .swiper-button-next {
		margin-left: 1.75rem;
	}
	
	.yoga__slider-wrapper .swiper-button-prev::after,
	.yoga__slider-wrapper .swiper-button-next::after {
		display: none;
	}
	
	.yoga__slider-wrapper .swiper-button-disabled {
		
		opacity: 1;
	}

	.yoga__slider-number.swiper-pagination{
		width: 3rem;
		color: white;
		 left: 30vw;
		bottom: 6rem;
	}

	.yoga-name{
		font-size: 18px;
line-height: 22px;
text-transform:uppercase;
color: white;

	}
	.yoga-info__dop{
		padding-top: 11rem;
	}

	.yoga-site{
		font-size: 18px;
line-height: 22px;
text-decoration-line: underline;
text-transform: uppercase;
color: rgba(255, 255, 255, 0.27);
	}
	.point__title{

font-size: 56px;
line-height: 56px;

text-align: center;

color: #000000;
font-weight: 400;


	}
	.point__text{
		
font-size: 22px;
line-height: 26px;
/* or 120% */
text-align: center;

color: #000000;


	}
	.point__link{
		/* Browse Templates */


font-size: 18px;
line-height: 22px;
/* identical to box height, or 120% */

text-decoration-line: underline;
text-transform: uppercase;

color: #000000;


	}
	.point__link-pointer{
		
		width: 1rem;
font-size: 18px;
line-height: 22px;
/* identical to box height, or 120% */

text-transform: uppercase;

color: #000000;



	}
	.point__link-wrapper{
		text-align: center;
	}

	.point__slider-sign{
		font-size: 18px;
line-height: 22px;
	}
	.point__slider-wrapper{
		position: relative;
		padding-top: 4.5rem;
	}

	.point__slider-wrapper .swiper-button-prev::after,
	.point__slider-wrapper .swiper-button-next::after {
		display: none;
	}

	.point__slider-number.swiper-pagination{
		width: 3rem;
		position: absolute;
		left: 90vw;
		bottom: 0.5rem;
		color: rgba(134, 134, 134, 1);
	}
	.section{
		padding: 1.8rem 2.5rem;
	}
	.point__slider-number.swiper-pagination .swiper-pagination-current{
		color: rgba(0, 0, 0, 1);
	}

	.started{
		background-color: black;
		color: white;
		display: flex;
	
		margin-left: -1.5rem;
		margin-right: -1.5rem;
	}
	.started__title{
		font-weight: normal;
font-size: 56px;
line-height: 56px;
padding-top: 2rem;
	}
	.started__link{
		font-size: 18px;
line-height: 22px;
/* identical to box height, or 120% */

text-decoration-line: underline;
text-transform: uppercase;
color: white;
	}
	.started__left, .started__right, .pricing__tarifs, .pricing__details, .award__left, .award__right{
		flex: 1 1 50%;
	}
	.started__item{
		font-size: 22px;
line-height: 26px;
font-style: normal;
font-weight: normal;
padding: 1rem;
	}
	.started__list{
		padding-top: 3rem;

	}

	.pricing__title{
		font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 40px;
	}
	.pricing__text{
		font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 26px
	}
	.pricing__tarifs-sign, .pricing__detail-sign{
		color: #0074C2;
		font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 22px;

	}
	.pricing__tarifs-item{
		position: absolute;
  z-index: -1;
  opacity: 0;
	}
	.pricing__tarifs-item+label {
		display: inline-flex;
		align-items: center;
		user-select: none;
	  }
	  .pricing__tarifs-item+label::before {
		content: '';
		display: inline-block;
		width: 1em;
		height: 1em;
		flex-shrink: 0;
		flex-grow: 0;
		background: #FFFFFF;
border: 1px solid #EBEBEB;
box-sizing: border-box;
border-radius: 9px;
margin-right: 1rem;
	  }
	  .pricing__tarifs-item:checked+label::before {
		
		background: black;
border: 5px solid #EBEBEB;
box-sizing: border-box;
border-radius: 9px
	  }

	  .pricing__tarifs-item:checked+label{
		  color: black;
	  }
	  .pricing__tarifs-label{
		font-size: 18px;
		line-height: 22px;
		/* identical to box height, or 120% */
		
		
		
		color: #A1A1A1;
		
	  }

	  .pricing__row{
		  display: flex;
	  }
.pricing__details{
	display: flex;
}
.pricing__detail-title{
	font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 26px;
/* identical to box height, or 120% */

text-align: center;
margin-bottom: 0;
}
.pricing__detail-currency{
	font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 12px;
/* identical to box height, or 100% */

text-align: center;
}
.pricing__detail-price{
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 32px;
	/* identical to box height, or 100% */
	
	text-align: center;
}
	  .pricing__detail-full-price{
		text-align: center;
	  }
	  .pricing__detail-period{
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 16px;
		/* or 134% */
		
		text-align: center;

	  }
	  .pricing__detail-sign{
		  width: 4rem;
		  font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
/* or 134% */
margin: auto;
text-align: center;

	  }
	  .pricing__detail{
		flex: 1 1 30%;
	  }

	  .pricing__table{
		width: 100%;
		border-collapse: collapse;
	  }
	  .pricing__table-name{
		width: 50%;
	  }
	  .pricing__table-info{
		width: 16.6%;
		text-align: center;
	  }

	  .pricing__table tbody tr{
		border-bottom: 1px solid #EBEBEB;
		
	  }

	  .pricing__table tbody tr td{ 
		padding: 0.5rem 0;
	  }

	  .pricing__table thead{
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 12px;
		/* identical to box height, or 100% */
		
		text-transform: uppercase;
		
		color: rgba(0, 0, 0, 0.5);
	  }
	  .features{
		  display: flex;
	  }
	  .features-third{
		  flex: 1 1 30%;
		  padding-left: 3rem;
	  }
	  .features-include{
		  flex: 1.5 1 35%;
	  }
	  .features-third__title{
		font-style: normal;
		font-weight: normal;
		font-size: 28px;
		line-height: 34px;
		/* identical to box height, or 120% */
		
		
		color: #000000;
	  }
	  .features__list-item{
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 22px;
	  }
	  .features__list{
		  padding-top: 8.5rem;
		  list-style-image: url(../img/check-mark.svg);
	  }
	  .faq{
		  background-color: black;
	  }
	  .accordion {
		background-color:black;
		color: white;
		cursor: pointer;
		padding: 18px;
		width: 100%;
		text-align: left;
		border: none;
		outline: none;
		transition: 0.4s;
		font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 26px;
border-top: 0.5px solid rgba(202, 202, 202, 0.3);
border-bottom: 0.5px solid rgba(202, 202, 202, 0.3);
	  }
	  
	  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
	  /* .active, .accordion:hover {
		background-color: #ccc;
	  } */
	  
	  /* Style the accordion panel. Note: hidden by default */
	  .panel {
		padding: 0 18px;
		background-color: white;
		display: none;
		overflow: hidden;
	  }
	  .accordion:after {
		content: '+'; /* Unicode character for "plus" sign (+) */
		font-style: normal;
		font-weight: normal;
		font-size: 48px;
		line-height: 26px;
		color: #FFFFFF;
		float: right;
		margin-left: 5px;
	  }
	  
	  .active:after {
		content: "-"; /* Unicode character for "minus" sign (-) */
	  }

	  .accordion-wrapper{
		  margin: 0 19.5rem;
		  padding-bottom: 2rem;
	  }
	  .faq__title{
		  color: white;
		  
		  text-align: center;
		  margin: auto;
		  font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 40px;
width: 26rem;
padding: 4rem 0; 
	  }

	  .award{
		  background-color: black;
		  display: flex;
		  color: white;
		  padding-top: 4rem;
	  }
	  .award__title{
		font-style: normal;
		font-weight: normal;
		font-size: 56px;
		line-height: 56px;
		/*width: 10em;*/
		padding-top: 2em;
	  }
	  .award__text{
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		line-height: 26px;
	  }
	  .award__link{
		  color: white;
		  text-transform: uppercase;
		  margin-top: 1rem;
		  display: inline-block;
		  font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
	  }
	  .squarespace{
		  background-color: black;
		  color: white;
		  border-top: 0.5px solid rgba(202, 202, 202, 0.5);
border-bottom: 0.5px solid rgba(202, 202, 202, 0.5);
display: flex;
	  }

.squarespace__left{
	flex: 1 1 60%;
}
.squarespace__right{
	flex: 1 1 40%;
	display: flex;
	justify-content: flex-end;
}

	  .squarespace__title{
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		line-height: 40px;
		padding: 0;
		
	  }
	  .squarespace__link{
		  background-color: white;
		  color: black;
		  height: fit-content;
		  padding: 1rem 1.5rem;
		  text-decoration: none;
		  text-transform: uppercase;
		  margin-top: 2rem;
	  }
	  .point__slider-pic{
		  width: 100%;
	  }

	  .footer{
		  background-color: black;
		  padding: 8rem 2.5rem 1.8rem;
		  color: white;
		  display: flex;
		  text-transform: uppercase;
	  }
	  .footer__logo{
		  flex: 1 2 20%;
	  }
	  .footer__menu{
		flex: 2 1 16%;
	  }

	  /* The container must be positioned relative: */
.custom-select {
	position: relative;
	font-family: Arial;
	margin-top: 0.5rem;
	
  }
  
  .custom-select select {
	display: none; /*hide original SELECT element: */
  }
  
  .select-selected {
	background-color: rgba(26, 26, 26, 1);
	width: 50%;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
	position: absolute;
	content: "↓";
	 top: 8px;
	right: 60%;
	width: 0;
	height: 0;
	/*border: 6px solid transparent;
	border-color: #fff transparent transparent transparent; */
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
	border-color: transparent transparent #fff transparent;
	top: 7px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
	color: #ffffff;
	padding: 8px 16px;
	border: 1px solid transparent;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
	position: absolute;
	background-color: rgba(26, 26, 26, 1);
	
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
	display: none;
  }
  
  .select-items div:hover, .same-as-selected {
	background-color: rgba(0, 0, 0, 0.1);
  }
  .selects{
	  margin-top: 3rem;
  }
  .footer__menu{
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
  }
  .footer__menu ul{
	list-style-type: none;
	padding: 0;
  }
  .footer__menu ul li a{
	color: white;
	text-decoration: none;
  }



  .top-menu__btn.--burger {
    display: none;
    flex-direction: column;
    padding: 0.5rem;
   
}
.top-menu__btn.--burger::before, .top-menu__btn.--burger::after {
	content: "";
}
.top-menu__btn-burger, .top-menu__btn.--burger::before, .top-menu__btn.--burger::after {
    display: block;
    height: 0.25rem;
    width: 100%;
    background-color: black;
    
    margin: 0.25rem 0;
}


.award__img{
	 	max-width: 100%;
	 	object-fit: cover;
	 }


	 .nav__list{
			margin-left: 10rem;
		}
		.nav__item{
			padding: 0.75rem 1rem;
		}
		.top-menu__wrapper{
			display: flex;
		    width: 100%;
		    justify-content: space-between;
		}

	 @media screen and (max-width: 991px) {

	 	/*.top-menu__nav, .top-menu__buttons{
	 		display: none;
	 	}*/
	 	.top-menu__btn{
	 		display: block;
	 	}

	 	.top-menu__wrapper{
			position: fixed;
			top: -100vh;
			left: 0;
			width: 100vw;
			height: 100vh;
			flex-direction: column;
			background-color: black;
			justify-content: center;
			align-items: center;
			transition: all 0.24s;
	 	}

		 .top-menu__wrapper.--open{
			 top:0;
		 }


		 .top-menu__btn.--burger.--open {
			 justify-content: center;
		 }

		 .top-menu__btn.--burger.--open .top-menu__btn-burger {
			 width: 0;
		 }

		 .top-menu__btn.--burger.--open::before {
			 transform: translateY(100%) rotate(45deg);
		 }

		 .top-menu__btn.--burger.--open::after {
			 transform: translateY(-100%) rotate(-45deg);
		 }
		 .top-menu__btn-burger.--open, .top-menu__btn.--burger.--open::before, .top-menu__btn.--burger.--open::after{
			margin: 0;
		 }


		 .nav__item+.nav__item{
	 		margin-left: 0;
	 	}
	 	.top-menu__buttons{
	 		display: block;
	 	}
	 	.nav__list{
	 		display: list-item;
	 		margin-left: 0;
	 	}
	 	.top-menu__btn.--burger {
		    display: flex;
		    z-index: 2;
		}
		.header__title{
			font-size: 46px;
    		line-height: 46px;
		}

		.tools__inner{
			flex-direction: column;
			}
		.content__item{
			margin-top: 0;
			flex-direction: column;
		}

		.content__item-info.--left{
			padding-right: 0;
		}
		.content__item-info.--right{
			    padding-left:0;
		}
		.content__item-title{
			padding-top: 0;
		}
		.content__item-pic{
			margin: 1rem 0;
		}
		.protect{
			flex-direction: column;
			margin: 0;
			height: 58rem;
		}
		.protect-info{
			margin: 0;
		}
		.protect-title{
			padding-top: 0;
			padding-left: 1.5rem;
		}
		.protect-text{
			padding-left: 1.5rem;
		}
		.protect-pic{
			height: 26rem;
		}
		.yoga{
			flex-direction: column;
			margin:0;
		}
		.yoga-text{
			width: auto;
		}
		.yoga__slider-wrapper .swiper-buttons{
			left: 50vw;
		}
		.yoga__slider-number.swiper-pagination{
			left: 35vw;
		}
		.yoga-info__dop{
			padding-top: 0;
		}
		.yoga__slider-wrapper{
			padding-top: 1rem;
		}
		.point__slider-number.swiper-pagination{
			left: 80vw;
		}
		.started{
			flex-direction: column;
			margin: 0;
		}
		.features-third{
			padding-left:0;
		}
		.features__list{
			padding-top:0;
		}
		.features{
			flex-direction: column;
		}
		.faq{
			    padding: 1.8rem 0;
		}
		.faq__title{
			padding: 0;
			width: auto;
		}
		.accordion-wrapper{
			margin:0;
		}
		.award{
			flex-direction: column;
		}
		.award__title{
			padding-top: 0;
		}
		.squarespace{
			flex-direction: column;
		}
		.footer{
			flex-direction: column;
		}

	 }

.award__right{
			padding-left: 1rem;
		}
	 @media screen and (max-width: 767px) {
	 	.point__slider-number.swiper-pagination{
			left: 70vw;
		}
	 }

	 